<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home</title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/flaticon.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

<header class="header">
    <div class="container">
        <div class="row justify-content-between align-items-center">

            <!-- Header Logo Start -->
            <div class="col">
                <div class="header-logo">
                    <a href="/index">
                        <h3 style="color: #FFFFFF;" alt="Site Logo">STAFF</h3>
                    </a>
                </div>
            </div><!-- Header Logo End -->

            <!-- Offcanvas Toggle Start -->
            <div class="col-auto d-lg-none d-flex align-items-center">
                <button class="offcanvas-toggle">
                    <span></span>
                </button>
            </div>
            <!-- Offcanvas Toggle End -->

            <!-- Header Links Start -->
            <div class="header-links col-auto order-lg-3">
                <a href="#" data-toggle="modal" data-target="#loginSignupModal" data-target-sub="#login"
                   th:text="${username}"></a>
            </div><!-- Header Links End -->

            <!-- Header Menu Start -->
            <nav id="main-menu" class="main-menu col-lg-auto order-lg-2">
                <ul>
                    <li class="has-children"><a href="/index">主页</a></li>
                    <li class="has-children"><a href="/department-list">部门管理</a>
                        <ul class="sub-menu">
                            <li><a href="/department-list">部门列表</a></li>
                            <li><a href="/create-department">新建部门信息</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a href="/job-list">岗位管理</a>
                        <ul class="sub-menu">
                            <li><a href="/job-list">岗位列表</a></li>
                            <li><a href="/create-job">新建岗位信息</a></li>
                        </ul>
                    </li>
                    <li><a href="/staff-list">人才管理</a>
                        <ul class="sub-menu">
                            <li><a href="/staff-list">人才列表</a></li>
                            <li><a href="/create-staff">新建人才信息</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- Header Menu End -->

        </div>

    </div>
</header>


<!--Offcanvas Section Start-->
<div id="offcanvas" class="offcanvas-section">
    <button class="offcanvas-close" data-target="#offcanvas">&times;</button>
    <div class="offcanvas-wrap">
        <div class="inner">

            <!-- Offcanvas user Start -->
            <div class="offcanvas-user">
                <a href="#" data-toggle="modal" data-target="#loginSignupModal" data-target-sub="#login"
                   th:text="${username}">Login</a>
            </div>
            <!-- Offcanvas user End -->

            <!-- Offcanvas Menu Start -->
            <div class="offcanvas-menu">
                <nav id="main" class="main-menu col-lg-auto order-lg-2">
                    <ul>
                        <li class="has-children"><a href="/index">主页</a></li>
                        <li class="has-children"><a href="/department-list">部门管理</a>
                            <ul class="sub-menu">
                                <li><a href="/department-list">部门列表</a></li>
                                <li><a href="/create-department">新建部门信息</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a href="/job-list">岗位管理</a>
                            <ul class="sub-menu">
                                <li><a href="/job-list">岗位列表</a></li>
                                <li><a href="/create-job">新建岗位信息</a></li>
                                <li><a href="/create-department">新建部门信息</a></li>
                            </ul>
                        </li>
                        <li><a href="/staff-list">人才管理</a>
                            <ul class="sub-menu">
                                <li><a href="/staff-list">人才列表</a></li>
                                <li><a href="/create-staff">新建人才信息</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Offcanvas Menu End -->

        </div>
    </div>
</div>
<!--Offcanvas Section End-->
<!--OffCanvas Overlay-->
<div class="offcanvas-overlay"></div>


<div class="loginSignupModal modal fade" id="loginSignupModal" tabindex="-1" role="dialog"
     aria-labelledby="loginSignupModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="loginSignupNav nav">
                    <li><a class="nav-link active" data-toggle="tab" href="#login">登录状态</a></li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="login">
                        <form action="/logout">
                            <div class="row mb-n3">
                                <div class="col-12 mb-3"><strong>用户：</strong><span th:text="${username}"></span></div>
                                <div class="col-6 mb-3" style="margin-left: 25%"><input class="btn btn-primary w-100"
                                                                                        type="submit" value="登出"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Slider Section Start -->
<div class="slider-section section">
    <div class="slide-item bg-parallax" style="background-color: rgb(9, 108, 214)" data-overlay="50">
        <div class="container">
            <div class="slider-content text-center">
                <h2 class="title">人才信息管理系统</h2>
                <p>关注企业人才基本信息管理与职业能力评估</p>
            </div>
        </div>
    </div>
</div>
<!-- Slider Section End -->

<!-- Job Search Section Start -->
<div class="job-search-section section">
    <div class="container">
        <div class="job-search-wrap">

            <!-- Job Search Form Start -->
            <div class="job-search-form">
                <form th:action="@{/staff-list/search-list}" th:object="${selectParam}" method="post">
                    <div class="row mb-n4">

                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                            <input id="name" type="text" th:field="*{name}" placeholder="姓名">
                        </div>

                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                            <input id="city" type="text" th:field="*{city}" placeholder="地点">
                        </div>

                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                            <select id="department" th:field="*{department}">
                                <option value="">选择部门</option>
                                <option th:each="op : ${departments}" th:value="${op.id}"><p th:text="${op.name}">部门</p>
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-auto col-sm-6 col-12 flex-grow-1 mb-4">
                            <button class="btn btn-primary">Search</button>
                        </div>

                    </div>
                </form>
            </div>
            <!-- Job Search Form End -->

        </div>
    </div>
</div>
<!-- Job Search Section End -->

<!-- Recent Jobs Start -->
<div class="section section-padding">
    <div class="container">
        <div class="section-title">
            <h2 class="title">Latest Staffs</h2>
            <p>最近发现的优秀人才.</p>
        </div>

        <!-- Job List Wrap Start -->
        <!--        th:each="${staffs}"-->
        <div class="job-list-wrap" th:each="staff : ${staffs}">
            <!-- Job List Start -->
            <a href="job-single" th:href="'/staff-single/'+${staff.id}" class="job-list">
                <div class="company-logo col-auto" style="margin-right: 1%">
                    <i class="fa fa-3x fa-user-circle-o"
                       th:styleappend="${staff.gender==0?'color: #348bd6;':'color:#cc2f29'}"
                       alt="Company Logo"></i>
                </div>
                <div class="salary-type col-auto order-sm-3">
                    <span class="salary-range" th:text="${staff.age}+'岁'">30岁</span>
                    <span class="badge badge-success" th:switch="${staff.degree}">
                        <p th:case="0">中专</p>
                        <p th:case="1">大专</p>
                        <p th:case="2">本科</p>
                        <p th:case="3">研究生</p>
                        <p th:case="4">博士</p>
                    </span>
                    <span class="badge badge-warning" th:text="'工作'+${staff.workingYears}+'年'">工作3年</span>
                </div>
                <div class="content col">
                    <h6 class="title" th:text="${staff.jobName}">Java 开发工程师</h6>
                    <ul class="meta">
                        <li><strong class="text-primary" th:text="${staff.name}">张得帅</strong></li>
                        <li><i class="fa fa-map-marker"></i><span th:text="${staff.city}">上海</span>
                        </li>
                        <li><i class="fa fa-address-book-o"></i>
                            <span th:text="${#strings.abbreviate(staff.interviewComments,30)}"
                            >面试官评价：个人能力优秀，对java后端开发有非常丰富的经验...</span>
                        </li>
                    </ul>
                </div>
            </a>
            <!-- Job List Start -->

        </div>
        <!-- Job List Wrap Start -->

        <div class="text-center mt-4 mt-lg-5">
            <a href="staff-list" class="btn btn-primary">View All Staffs</a>
        </div>

    </div>
</div>
<!-- Footer Top Section Start -->
<div class="footer-top-section section">
    <div class="container">
        <div class="footer-widget-wrap row">

            <!-- Footer Widget Start -->
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="footer-widget">
                    <div class="footer-widget-about">
                        <h3 style="color: #FFFFFF;" alt="Site Logo">STAFF</h3>
                        <p>本网站为本科生毕业设计作品，旨在关注企业人才基本信息管理与职业能力评估，为企业提供人才信息管理方案。</p>
                        <p>个人github与博客.</p>
                        <ul class="footer-socail">
                            <li><a href="https://snorlaxa.github.io.com"><i class="fa fa-github"></i></a></li>
                            <li><a href="http://snorlaxa.cn"><i class="fa fa-bold"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Footer Top Section End -->

<!-- Footer Bottom Section Start -->
<div class="footer-bottom-section section">
    <div class="container">
        <div class="row">
            <!-- Footer Copyright Start -->
            <div class="col-12">
                <p class="footer-copyright text-center">Copyright &copy; 2019.Personal Developer snorlaxa@163.com All
                    rights reserved.</p>
            </div>
        </div>
    </div>
</div>

<!-- Vendors JS -->
<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Plugins JS -->
<script src="/assets/js/plugins/slick.min.js"></script>
<script src="/assets/js/plugins/jquery.waypoints.min.js"></script>
<script src="/assets/js/plugins/jquery.counterup.min.js"></script>
<script src="/assets/js/plugins/jquery.parallax.js"></script>
<script src="/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
<script src="/assets/js/plugins/jquery.scrollUp.min.js"></script>

<!-- Main Activation JS -->
<script src="/assets/js/main.js"></script>
<script>
    function submit() {
        url = "/job-list?name=" + $('#name').val() + "&city=" + $('#city').val() + "&department=" + $('#department option:selected').val();
        console.log("aaa");
        $.ajax({
            url: url,
            type: "GET"
        })
    }
</script>
</body>

</html>