<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/flaticon.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>

<header class="header">
    <div class="container">
        <div class="row justify-content-between align-items-center">

            <!-- Header Logo Start -->
            <div class="col">
                <div class="header-logo">
                    <a href="/index">
                        <h3 style="color: #FFFFFF;" alt="Site Logo">STAFF</h3>
                    </a>
                </div>
            </div><!-- Header Logo End -->

            <!-- Offcanvas Toggle Start -->
            <div class="col-auto d-lg-none d-flex align-items-center">
                <button class="offcanvas-toggle">
                    <span></span>
                </button>
            </div>
            <!-- Offcanvas Toggle End -->

            <!-- Header Links Start -->
            <div class="header-links col-auto order-lg-3">
                <a href="#" data-toggle="modal" data-target="#loginSignupModal" data-target-sub="#login" th:text="${username}">Login</a>
            </div><!-- Header Links End -->

            <!-- Header Menu Start -->
            <nav id="main-menu" class="main-menu col-lg-auto order-lg-2">
                <ul>
                    <li class="has-children"><a href="/index">主页</a></li>
                    <li class="has-children"><a href="/department-list">部门管理</a>
                        <ul class="sub-menu">
                            <li><a href="/department-list">部门列表</a></li>
                            <li><a href="/create-department">新建部门信息</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a href="/job-list">岗位管理</a>
                        <ul class="sub-menu">
                            <li><a href="/job-list">岗位列表</a></li>
                            <li><a href="/create-job">新建岗位信息</a></li>
                        </ul>
                    </li>
                    <li><a href="/staff-list">人才管理</a>
                        <ul class="sub-menu">
                            <li><a href="/staff-list">人才列表</a></li>
                            <li><a href="/create-staff">新建人才信息</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- Header Menu End -->

        </div>

    </div>
</header>


<!--Offcanvas Section Start-->
<div id="offcanvas" class="offcanvas-section">
    <button class="offcanvas-close" data-target="#offcanvas">&times;</button>
    <div class="offcanvas-wrap">
        <div class="inner">

            <!-- Offcanvas user Start -->
            <div class="offcanvas-user">
                <a href="#" data-toggle="modal" data-target="#loginSignupModal" data-target-sub="#login" th:text="${username}">Login</a>
            </div>
            <!-- Offcanvas user End -->

            <!-- Offcanvas Menu Start -->
            <div class="offcanvas-menu">
                <nav id="main" class="main-menu col-lg-auto order-lg-2">
                    <ul>
                        <li class="has-children"><a href="/index">主页</a></li>
                        <li class="has-children"><a href="/department-list">部门管理</a>
                            <ul class="sub-menu">
                                <li><a href="/department-list">部门列表</a></li>
                                <li><a href="/create-department">新建部门信息</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a href="/job-list">岗位管理</a>
                            <ul class="sub-menu">
                                <li><a href="/job-list">岗位列表</a></li>
                                <li><a href="/create-job">新建岗位信息</a></li>
                                <li><a href="/create-department">新建部门信息</a></li>
                            </ul>
                        </li>
                        <li><a href="/staff-list">人才管理</a>
                            <ul class="sub-menu">
                                <li><a href="/staff-list">人才列表</a></li>
                                <li><a href="/create-staff">新建人才信息</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Offcanvas Menu End -->

        </div>
    </div>
</div>
<!--Offcanvas Section End-->
<!--OffCanvas Overlay-->
<div class="offcanvas-overlay"></div>


<div class="loginSignupModal modal fade" id="loginSignupModal" tabindex="-1" role="dialog"
     aria-labelledby="loginSignupModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="loginSignupNav nav">
                    <li><a class="nav-link active" data-toggle="tab" href="#login">登录状态</a></li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="login">
                        <form action="/logout">
                            <div class="row mb-n3">
                                <div class="col-12 mb-3"><strong>用户：</strong><span  th:text="${username}"></span></div>
                                <div class="col-6 mb-3" style="margin-left: 25%"><input class="btn btn-primary w-100" type="submit" value="登出"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Heading Section Start -->
<div class="page-heading-section section bg-parallax" style="background-color: rgb(9, 108, 214)" data-overlay="50">
    <div class="container">
        <div class="page-heading-content text-center">
            <h3 class="title">人才详细信息</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="/staff-list">Interview</a></li>
                <li class="breadcrumb-item active" th:text="${staff.name}">Developer</li>
            </ol>
        </div>
    </div>
</div>
<!-- Page Heading Section End -->

<!-- Recent Jobs Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row mb-n5">
            <!-- Job List Details Start -->
            <div class="col-lg-8 col-12 mb-5 pr-lg-5">
                <div class="job-list-details">
                    <div class="job-details-head row mx-0">
                        <div class="company-logo col-auto">
                            <a href="javascript:void(0);">
                                <i class="fa fa-4x" th:classappend="${staff.gender==0?'fa-male':'fa-female'}"
                                   alt="Company Logo"></i>
                            </a>
                        </div>
                        <div class="salary-type col-auto order-sm-3">
                            <span class="salary-range" th:text="${staff.age}+'岁'">30岁</span>
                            <span class="badge badge-success" th:switch="${staff.degree}">
                                <p th:case="0">中专</p>
                                <p th:case="1">大专</p>
                                <p th:case="2">本科</p>
                                <p th:case="3">研究生</p>
                                <p th:case="4">博士</p>
                            </span>
                            <span class="badge badge-warning" th:text="'工作'+${staff.workingYears}+'年'">工作3年</span>
                        </div>
                        <div class="content col">
                            <h5 class="title" th:text="${staff.jobName}">Full Stack Backend Developer</h5>
                            <ul class="meta">
                                <li><strong class="text-primary"><a href="javascript:void(0);" th:text="${staff.name}">Envato</a></strong>
                                </li>
                                <li><i class="fa fa-map-marker"></i> <span th:text="${staff.city}">2020 Willshire Glen, GA-30009</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-details-body">
                        <h6 class="mb-3 mt-4">面试官评价</h6>
                        <textarea style="resize:none; " rows="10" id = "interviewComments" th:text="${staff.interviewComments}"></textarea>
                        <hr>
                        <h6 class="mb-3 mt-4">特点分析</h6>
                        <textarea style="resize:none; " rows="8" id = "speciality" th:text="${staff.speciality}"></textarea>
                        <hr>
                        <h6 class="mb-3 mt-4">能力评估图</h6>
                        <div style="padding: 5%; border: 1px solid #ededed;">
                            <!--                            <div id="ability" class="job-location-map google-map">-->
                            <!--                                <span class="sr-only">能力评估图</span>-->
                            <!--                            </div>-->
                            <div id="ability" style="width: 600px;height:400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Job List Details End -->

            <!-- Job Sidebar Wrap Start -->
            <div class="col-lg-4 col-12 mb-5">
                <div class="sidebar-wrap">
                    <!-- Sidebar (Apply Buttons) Start -->
                    <div class="sidebar-widget">
                        <div class="inner">
                            <div class="row m-n2">
                                <!--                                <div class="col-xl-auto col-lg-12 col-sm-auto col-12 p-2">-->
                                <!--                                    <a href="#" class="d-block btn btn-outline-secondary"><i-->
                                <!--                                            class="fa fa-heart-o mr-1"></i>面试评价</a>-->
                                <!--                                </div>-->
                                <div class="col-12 mb-3">
                                    <h6>完成评价</h6>
                                    <a href="javascript:submitData();" class="d-block btn btn-primary">完成评价</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <div class="inner">
                            <h6 class="title">基本信息</h6>
                            <ul class="job-overview list-unstyled">
                                <div id="staffId" style="visibility: hidden" th:text="${staff.id}"></div>
                                <li><strong>姓名:</strong> <span th:text="${staff.name}">张三</span></li>
                                <li><strong>年龄:</strong> <span th:text="${staff.age}">20</span>岁</li>
                                <li><strong>毕业院校:</strong> <span th:text="${staff.school}">北京大学</span></li>
                                <li><strong>学历:</strong>
                                    <span th:switch="${staff.degree}">
                                        <span th:case="0">中专</span>
                                        <span th:case="1">大专</span>
                                        <span th:case="2">本科</span>
                                        <span th:case="3">研究生</span>
                                        <span th:case="4">博士</span>
                                    </span>
                                </li>
                                <li><strong>工作年限:</strong> <span th:text="${staff.workingYears}">3</span>年</li>
                                <li><strong>面试状态:</strong>
                                    <span th:switch="${staff.employStatus}">
                                        <span th:case="-1">待面试</span>
                                        <span th:case="0">未录取</span>
                                        <span th:case="1">面试</span>
                                        <span th:case="2">试用期</span>
                                        <span th:case="3">已录用</span>
                                    </span>
                                </li>
                                <li><strong>更新时间:</strong> <span
                                        th:text="${#dates.format(staff.updateTime,'yyyy-MM-dd HH:mm:ss')}">2020年1月24日</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <div class="inner">
                            <h6 class="title">面试打分</h6>
                            <ul class="job-overview list-unstyled">
                                <li>
                                    <strong>面试人员</strong>
                                    <br>
                                    <input style="width: 100%;"  id = "interviewers" th:value="${staff.interviewers}"></li>
                                <li>
                                    <strong>面试评分:</strong>
                                    <br>
                                    <input style="width: 100%;" id = "interviewScore" th:value="${staff.interviewScore}">
                                </li>
                                <li>
                                    <strong>试用期评分:</strong>
                                    <br>
                                    <input id="probation" style="width: 100%;"
                                           th:placeholder="${staff.probationScore==0 ? '未开始试用期': staff.probationScore }">
                                </li>
                                <li>
                                    <strong>面试时间:</strong> <span id="interviewTime"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <div class="inner">
                            <h6 class="title">技能评分</h6>
                            <ul class="job-overview list-unstyled" id="score">

                            </ul>
                        </div>
                    </div>
                    <!-- Sidebar (Apply Buttons) End -->


                </div>
            </div>
            <!-- Job Sidebar Wrap End -->

        </div>
    </div>
</div>
<!-- Recent Jobs End -->
<!-- Footer Top Section Start -->
<div class="footer-top-section section">
    <div class="container">
        <div class="footer-widget-wrap row">

            <!-- Footer Widget Start -->
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="footer-widget">
                    <div class="footer-widget-about">
                        <h3 style="color: #FFFFFF;" alt="Site Logo">STAFF</h3>
                        <p>本网站为本科生毕业设计作品，旨在关注企业人才基本信息管理与职业能力评估，为企业提供人才信息管理方案。</p>
                        <p>个人github与博客.</p>
                        <ul class="footer-socail">
                            <li><a href="https://snorlaxa.github.io.com"><i class="fa fa-github"></i></a></li>
                            <li><a href="http://snorlaxa.cn"><i class="fa fa-bold"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Footer Top Section End -->

<!-- Footer Bottom Section Start -->
<div class="footer-bottom-section section">
    <div class="container">
        <div class="row">
            <!-- Footer Copyright Start -->
            <div class="col-12">
                <p class="footer-copyright text-center">Copyright &copy; 2019.Personal Developer snorlaxa@163.com All
                    rights reserved.</p>
            </div>
        </div>
    </div>
</div>

<!-- Vendors JS -->
<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Plugins JS -->
<script src="/assets/js/plugins/slick.min.js"></script>
<script src="/assets/js/plugins/jquery.waypoints.min.js"></script>
<script src="/assets/js/plugins/jquery.counterup.min.js"></script>
<script src="/assets/js/plugins/jquery.parallax.js"></script>
<script src="/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
<script src="/assets/js/plugins/jquery.scrollUp.min.js"></script>
<script src="/assets/js/plugins/echarts.min.js"></script>

<!-- Main Activation JS -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/interview.js"></script>
<script>

    let date = new Date();
    var fdate = dateFormat("YYYY-mm-dd HH:MM", date);
    $('#interviewTime').html(fdate);


    function dateFormat(fmt, date) {
        let ret;
        const opt = {
            "Y+": date.getFullYear().toString(),        // 年
            "m+": (date.getMonth() + 1).toString(),     // 月
            "d+": date.getDate().toString(),            // 日
            "H+": date.getHours().toString(),           // 时
            "M+": date.getMinutes().toString(),         // 分
            "S+": date.getSeconds().toString()          // 秒
            // 有其他格式化字符需求可以继续添加，必须转化成字符串
        };
        for (let k in opt) {
            ret = new RegExp("(" + k + ")").exec(fmt);
            if (ret) {
                fmt = fmt.replace(ret[1], (ret[1].length == 1) ? (opt[k]) : (opt[k].padStart(ret[1].length, "0")));
            }
        }
        return fmt;
    }


</script>
</body>

</html>