<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="robots" content="noindex, follow"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.ico">

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/flaticon.css">

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/assets/css/plugins/slick.css">

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
</head>

<body>

<header class="header">
    <div class="container">
        <div class="row justify-content-between align-items-center">

            <!-- Header Logo Start -->
            <div class="col">
                <div class="header-logo">
                    <a href="/index">
                        <h3 style="color: #FFFFFF;" alt="Site Logo">STAFF</h3>
                    </a>
                </div>
            </div><!-- Header Logo End -->

            <!-- Offcanvas Toggle Start -->
            <div class="col-auto d-lg-none d-flex align-items-center">
                <button class="offcanvas-toggle">
                    <span></span>
                </button>
            </div>
            <!-- Offcanvas Toggle End -->

            <!-- Header Links Start -->
            <div class="header-links col-auto order-lg-3">
                <a href="#" data-toggle="modal" data-target="#loginSignupModal" data-target-sub="#login" th:text="${username}">Login</a>
            </div><!-- Header Links End -->

            <!-- Header Menu Start -->
            <nav id="main-menu" class="main-menu col-lg-auto order-lg-2">
                <ul>
                    <li class="has-children"><a href="/index">主页</a></li>
                    <li class="has-children"><a href="/department-list">部门管理</a>
                        <ul class="sub-menu">
                            <li><a href="/department-list">部门列表</a></li>
                            <li><a href="/create-department">新建部门信息</a></li>
                        </ul>
                    </li>
                    <li class="has-children"><a href="/job-list">岗位管理</a>
                        <ul class="sub-menu">
                            <li><a href="/job-list">岗位列表</a></li>
                            <li><a href="/create-job">新建岗位信息</a></li>
                        </ul>
                    </li>
                    <li><a href="/staff-list">人才管理</a>
                        <ul class="sub-menu">
                            <li><a href="/staff-list">人才列表</a></li>
                            <li><a href="/create-staff">新建人才信息</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- Header Menu End -->

        </div>

    </div>
</header>


<!--Offcanvas Section Start-->
<div id="offcanvas" class="offcanvas-section">
    <button class="offcanvas-close" data-target="#offcanvas">&times;</button>
    <div class="offcanvas-wrap">
        <div class="inner">

            <!-- Offcanvas user Start -->
            <div class="offcanvas-user">
                <a href="#" data-toggle="modal" data-target="#loginSignupModal" data-target-sub="#login" th:text="${username}">Login</a>
            </div>
            <!-- Offcanvas user End -->

            <!-- Offcanvas Menu Start -->
            <div class="offcanvas-menu">
                <nav id="main" class="main-menu col-lg-auto order-lg-2">
                    <ul>
                        <li class="has-children"><a href="/index">主页</a></li>
                        <li class="has-children"><a href="/department-list">部门管理</a>
                            <ul class="sub-menu">
                                <li><a href="/department-list">部门列表</a></li>
                                <li><a href="/create-department">新建部门信息</a></li>
                            </ul>
                        </li>
                        <li class="has-children"><a href="/job-list">岗位管理</a>
                            <ul class="sub-menu">
                                <li><a href="/job-list">岗位列表</a></li>
                                <li><a href="/create-job">新建岗位信息</a></li>
                            </ul>
                        </li>
                        <li><a href="/staff-list">人才管理</a>
                            <ul class="sub-menu">
                                <li><a href="/staff-list">人才列表</a></li>
                                <li><a href="/create-staff">新建人才信息</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Offcanvas Menu End -->

        </div>
    </div>
</div>
<!--Offcanvas Section End-->
<!--OffCanvas Overlay-->
<div class="offcanvas-overlay"></div>


<div class="loginSignupModal modal fade" id="loginSignupModal" tabindex="-1" role="dialog"
     aria-labelledby="loginSignupModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="loginSignupNav nav">
                    <li><a class="nav-link active" data-toggle="tab" href="#login">登录状态</a></li>
                    <li><a class="nav-link" data-toggle="tab" href="#signup">修改密码</a></li>
                </ul>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="login">
                        <form action="/logout">
                            <div class="row mb-n3">
                                <div class="col-12 mb-3"><strong>用户：</strong><span id="username"
                                                                                   th:text="${username}"></span></div>
                                <div class="col-12 mb-3"><strong>创建时间：</strong><span
                                        th:text="${#dates.format(updateTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                </div>
                                <div class="col-6 mb-3" style="margin-left: 25%"><input class="btn btn-primary w-100"
                                                                                        type="submit" value="登出"></div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="signup">
                        <form action="javascript:editPassword();">
                            <div class="row mb-n3">
                                <div class="col-12 mb-3"><label for="current-password">当前密码</label><input
                                        id="current-password" type="password"></div>
                                <div class="col-12 mb-3"><label for="new-password">新密码</label><input id="new-password"
                                                                                                     type="password">
                                </div>
                                <div class="col-12 mb-3"><label for="new-password-repeat">重复新密码</label><input
                                        id="new-password-repeat" type="password"></div>
                                <div class="col-12 mb-3"><input class="btn btn-primary w-100" type="submit" value="修改">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Heading Section Start -->
<div class="page-heading-section section bg-parallax" style="background-color: rgb(9, 108, 214)" data-overlay="50">
    <div class="container">
        <div class="page-heading-content text-center">
            <h3 class="title">人才管理</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item active"><a href="/staff-list">Staffs</a></li>
            </ol>
        </div>
    </div>
</div>
<!-- Page Heading Section End -->

<!-- Recent Jobs Start -->
<div class="section section-padding">
    <div class="container">
        <div class="row mb-n5">

            <div class="col-lg-8 col-12 mb-5 pr-lg-5">

                <!-- Job List Toolbar Start -->
                <div class="job-list-toolbar">
                    <sapn th:text="'每页数量 : '+${pageInfo.pageSize}">a</sapn>
                </div>
                <!-- Job List Toolbar End -->

                <!-- Job List Wrap Start -->
                <div class="job-list-wrap" th:each="staff : ${pageInfo.datas}">
                    <!-- Job List Start -->
                    <a href="job-single" th:href="'/staff-single/'+${staff.id}" class="job-list">
                        <div class="company-logo col-auto" style="margin-right: 1%">
                            <!--                            th:classappend="${staff.gender==0?'fa-male':'fa-female'}"-->
                            <i class="fa fa-3x fa-user-circle-o"
                               th:styleappend="${staff.gender==0?'color: #348bd6;':'color:#cc2f29'}"
                               alt="Company Logo"></i>
                        </div>
                        <div class="salary-type col-auto order-sm-3">
                            <span class="salary-range" th:text="${staff.age}+'岁'">30岁</span>
                            <span class="badge badge-success" th:switch="${staff.degree}">
                                <p th:case="0">中专</p>
                                <p th:case="1">大专</p>
                                <p th:case="2">本科</p>
                                <p th:case="3">研究生</p>
                                <p th:case="4">博士</p>
                            </span>
                            <span class="badge badge-warning" th:text="'工作'+${staff.workingYears}+'年'">工作3年</span>
                        </div>
                        <div class="content col">
                            <h6 class="title" th:text="${staff.jobName}">Java 开发工程师</h6>
                            <ul class="meta">
                                <li><strong class="text-primary" th:text="${staff.name}">张得帅</strong></li>
                                <li><i class="fa fa-map-marker"></i><span th:text="${staff.city}">上海</span>
                                </li>
                                <li>
                                    <i class="fa fa-address-book-o"></i>
                                    <span title="" th:text="${#strings.abbreviate(staff.interviewComments,30)}">面试官评价：个人能力优秀，对java后端开发有非常丰富的经验...</span>
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
                <!-- Job List Wrap Start -->

                <!-- Pagination Start -->
                <ul class="pagination pagination-center mt-5">
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/staff-list(page=${pageInfo.prePage},pageSize=${pageInfo.pageSize},
                           jobId=${selectParam.jobId},
                            name=${selectParam.name},
                            gender=${selectParam.gender},
                            age=${selectParam.age},
                            degree=${selectParam.degree},
                            city=${selectParam.city},
                            workingYears=${selectParam.workingYears},
                            employStatus=${selectParam.employStatus},
                            interviewTimes=${selectParam.interviewTimes},
                            limit=${selectParam.limit},
                            department=${selectParam.department})}">
                            <i class="fa fa-angle-left"></i></a>
                    </li>
                    <li class="page-item" th:classappend="${pageInfo.pageNum} == ${num}? 'active' : '' "
                        th:each="num : ${pageInfo.navpages}">
                        <!--                        <a class="page-link"-->
                        <!--                           th:href="'/staff-list?page='+${num}+'&pageSize='+${pageInfo.pageSize}+'&name='+${selectParam.name}+''"-->
                        <!--                           th:text="${num}">1</a>-->
                        <a class="page-link"
                           th:href="@{/staff-list(page=${num},
                            pageSize=${pageInfo.pageSize},
                            jobId=${selectParam.jobId},
                            name=${selectParam.name},
                            gender=${selectParam.gender},
                            age=${selectParam.age},
                            degree=${selectParam.degree},
                            city=${selectParam.city},
                            workingYears=${selectParam.workingYears},
                            employStatus=${selectParam.employStatus},
                            interviewTimes=${selectParam.interviewTimes},
                            limit=${selectParam.limit},
                            department=${selectParam.department})}"
                           th:text="${num}">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"
                           th:href="@{/staff-list(page=${pageInfo.nextPage},pageSize=${pageInfo.pageSize},
                           jobId=${selectParam.jobId},
                            name=${selectParam.name},
                            gender=${selectParam.gender},
                            age=${selectParam.age},
                            degree=${selectParam.degree},
                            city=${selectParam.city},
                            workingYears=${selectParam.workingYears},
                            employStatus=${selectParam.employStatus},
                            interviewTimes=${selectParam.interviewTimes},
                            limit=${selectParam.limit},
                            department=${selectParam.department})}">
                            <i class="fa fa-angle-right"></i></a>
                    </li>
                </ul>
                <!-- Pagination End -->

            </div>

            <!-- Job Sidebar Wrap Start -->
            <div class="col-lg-4 col-12 mb-5">
                <div class="sidebar-wrap">
                    <!-- Sidebar (Search) Start -->
                    <div class="sidebar-widget">
                        <div class="inner">
                            <h6 class="title">搜索员工信息</h6>
                            <form action="#" th:action="@{/staff-list/search-list}" th:object="${selectParam}"
                                  method="post">
                                <div class="col-12 mb-3">
                                    <input class="btn btn-primary w-100" type="submit" value="Search">
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-12 mb-3">
                                        <label>姓名</label>
                                        <input type="text" th:field="*{name}" placeholder="姓名">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label>性别</label>
                                        <select th:field="*{gender}">
                                            <option value="">均可</option>
                                            <option value="0">男</option>
                                            <option value="1">女</option>
                                        </select>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label>城市</label>
                                        <input type="text" th:field="*{city}" placeholder="城市">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label>岗位</label>
                                        <input type="text" th:field="*{jobName}" placeholder="岗位">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label>年龄</label>
                                        <input type="text" th:field="*{age}" placeholder="年龄">
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label>学历</label>
                                        <select th:field="*{degree}">
                                            <option value="">选择学历</option>
                                            <option value="0">中专</option>
                                            <option value="1">大专</option>
                                            <option value="2">本科</option>
                                            <option value="3">研究生</option>
                                            <option value="4">博士</option>
                                        </select>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label>工作年限</label>
                                        <input type="text" th:field="*{workingYears}" placeholder="工作年限">
                                    </div>

                                    <div class="col-12 mb-3">
                                        <label>招聘状态</label>
                                        <select th:field="*{employStatus}">
                                            <option value="">选择招聘状态</option>
                                            <option value="-1">未录用</option>
                                            <option value="0">待面试</option>
                                            <option value="1">正在面试</option>
                                            <option value="2">试用期</option>
                                            <option value="3">已录用</option>
                                        </select>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label>部门</label>
                                        <select id="department" th:field="*{department}">
                                            <option value="">选择部门</option>
                                            <option th:each="op : ${departments}" th:value="${op.id}"><p
                                                    th:text="${op.name}">部门</p></option>
                                        </select>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label>应聘次数</label>
                                        <select th:field="*{interviewTimes}">
                                            <option value="">选择招聘次数</option>
                                            <option value="0">0次</option>
                                            <option value="1">1次</option>
                                            <option value="2">2次</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        <div class="inner">
                            <h6 class="title">新建员工信息</h6>
                            <a class="btn btn-primary w-100" th:href="@{/create-staff}">新建员工信息</a>
                        </div>
                    </div>
                    <!-- Sidebar (Qualification) End -->
                </div>
            </div>
            <!-- Job Sidebar Wrap End -->

        </div>
    </div>
</div>
<!-- Recent Jobs End -->
<!-- Footer Top Section Start -->
<div class="footer-top-section section">
    <div class="container">
        <div class="footer-widget-wrap row">

            <!-- Footer Widget Start -->
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="footer-widget">
                    <div class="footer-widget-about">
                        <h3 style="color: #FFFFFF;" alt="Site Logo">STAFF</h3>
                        <p>本网站为本科生毕业设计作品，旨在关注企业人才基本信息管理与职业能力评估，为企业提供人才信息管理方案。</p>
                        <p>个人github与博客.</p>
                        <ul class="footer-socail">
                            <li><a href="https://snorlaxa.github.io.com"><i class="fa fa-github"></i></a></li>
                            <li><a href="http://snorlaxa.cn"><i class="fa fa-bold"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Footer Top Section End -->

<!-- Footer Bottom Section Start -->
<div class="footer-bottom-section section">
    <div class="container">
        <div class="row">
            <!-- Footer Copyright Start -->
            <div class="col-12">
                <p class="footer-copyright text-center">Copyright &copy; 2019.Personal Developer snorlaxa@163.com All
                    rights reserved.</p>
            </div>
        </div>
    </div>
</div>


<!-- Vendors JS -->
<script src="/assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/assets/js/vendor/jquery-3.4.1.min.js"></script>
<script src="/assets/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Plugins JS -->
<script src="/assets/js/plugins/slick.min.js"></script>
<script src="/assets/js/plugins/jquery.waypoints.min.js"></script>
<script src="/assets/js/plugins/jquery.counterup.min.js"></script>
<script src="/assets/js/plugins/jquery.parallax.js"></script>
<script src="/assets/js/plugins/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/plugins/ion.rangeSlider.min.js"></script>
<script src="/assets/js/plugins/jquery.scrollUp.min.js"></script>

<!-- Main Activation JS -->
<script src="/assets/js/main.js"></script>
<script src="/assets/js/login.js"></script>
</body>

</html>